<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 相机权限用于扫描二维码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- 网络权限（如果需要同步数据） -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 相机硬件特性 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearOTP">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WearOTP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- QR扫描Activity -->
        <activity
            android:name=".ui.scanner.QrScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.WearOTP"
            android:screenOrientation="portrait" />
    </application>

</manifest>